<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=HP-PROBOOK;Database=eRNIdataBase;User ID=eRNI; Password=eRNI01230" providerName="System.Data.SqlClient" name="DefaultConnection" />
    </connectionStrings>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
