@{
    ViewBag.Title = "Kontakt";
}

<br />
<h3>@ViewBag.Message</h3>



<address>
    <strong>Wsparcie:</strong>   <a href="mailto:marek.popowicz@tauron-dystrybucja.pl">marek.popowicz@tauron-dystrybucja.pl</a><br />
</address>