@media print {

    .alert-success {
        background-color: #DFF0D7 !important;
        border-color: rgb(133, 199, 120) !important;
        color: rgb(41, 101, 29) !important;
    }
    .panel-heading {
        background-color: rgb(250, 246, 217) !important;
    }
    .panel-body {
        background-color: rgb(255, 252, 231) !important;
    }
    #localizations-div {
        background-color: rgb(243, 251, 233) !important;
    }
    #localizations-p {
        color: rgb(255, 106, 0) !important;
    }
    #localizations-folderNo {
        color:#ff0000 !important;
    }
    #localizations-task {
        color: dimgrey !important;
    }
    #localizations-sapNo {
        color: darkmagenta !important;
    }
    .localizations-label {
        color: rgb(41, 101, 29) !important;
    }
    #project-prioryty {
        color: #ff0000 !important;
    }
    #localizations-back {
        display: none !important;
    }
}

    body {
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .container-fluid {
        margin-left: 50px;
        margin-right: 50px;
    }

    /* Set padding to keep content from hitting the edges */
    .body-content {
        padding-left: 15px;
        padding-right: 15px;
    }

    /* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
    .dl-horizontal dt {
        white-space: normal;
    }

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 600px;
}

.jumbotron {
    -webkit-box-shadow: 7px 7px 10px -3px rgba(143,141,143,1);
    -moz-box-shadow: 7px 7px 10px -3px rgba(143,141,143,1);
    box-shadow: 7px 7px 10px -3px rgba(143,141,143,1);
}
.data-Table {
    border: solid 1px;
    border-color: #d1d1dd;
    border-radius: 7px;
    -webkit-box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
    -moz-box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
    box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
}
.data-Table th {
    background-color: rgba(214, 227, 238, 0.82);
}

.partial-content {
    border: solid 1px;
    border-color: #dedee5;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 0 20px 0 20px;

    -webkit-box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
    -moz-box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
    box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
}

    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f5f5f5;
    }

    .table-striped tbody {
        border: solid 1px;
        border-color: #d1d1dd;
    }

.panel {
    -webkit-box-shadow: 7px 7px 10px -3px rgba(143,141,143,1);
    -moz-box-shadow: 7px 7px 10px -3px rgba(143,141,143,1);
    box-shadow: 7px 7px 10px -3px rgba(143,141,143,1);
}

    .panel-body {
        background-color: #fbfbfb;
    }

    .partial-table {
        border: solid 1px;
        border-color: #d1d1dd;
    }

    #activities-th th {
        background-color: rgba(214, 227, 238, 0.82);
    }

#keyDocuments-th th {
    background-color: rgba(237, 231, 255, 0.82);
}   
    #devices-th th {
        background-color: rgba(242, 234, 200, 0.82);
    }

    #localizations-th th {
        background-color: rgba(242, 242, 211, 0.82);
    }

    #invoices-th th {
        background-color: rgba(220, 250, 235, 0.82);
    }

    #propertyDocuments-th th {
        background-color: rgba(220, 193, 174, 0.82);
    }

    #owners-th th {
        background-color: rgba(251, 239, 214, 0.82);
    }

#regulations-th th {
    background-color: rgba(171, 232, 255, 0.82);
}

#regulationDokuments-th th {
    background-color: rgba(213, 224, 189, 0.82)
}

#localizations-div {
    -webkit-box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
    -moz-box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
    box-shadow: 4px 4px 10px -3px rgba(66,66,66,1);
    border: solid 1px rgb(133, 199, 120); 
    padding: 15px; 
    background-color: rgb(243, 251, 233); 
    border-radius: 10px
}

/*------------dropdown menu---------------*/

.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: #ccc;
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: #fff;
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }
/*------------------ end dropdown menu---------------*/